@font-face{
	font-family: "Bebas Neue";
	src:url("../font/BebasNeue Bold.otf");
}

body{
	/*padding: 20%;*/
	position:relative;
	font-family: "Bebas Neue";
	font-size: 20pt;
	font-weight: bold;
	color: #0dfe17;
	background-color: transparent;
	background-position: center;
	background-size:100% 100%;
	opacity: 0.65;

}

html{
	background-image: url("../images/background.png");
	background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-attachment: fixed;
	padding-top:16%;
}

.row{
	/*Needed because last opponent will cause row to disappear, shifting
	fight-club up*/
	height:266px;
}

.top-bar{
	text-align: center;
	margin: -6% auto 3% auto;
}

.logo{   
	position:absolute;
	right: 36%;
  top: 21%;
  width: 35%;
  opacity: 0.3;

}

.music-logo{
	position:absolute;
	opacity: 0.7;
	left: 3%;
  top: -20%;
}

.warning{
	position:absolute;
	width: 200px;
	opacity: 0.7;
	left: 2%;

}

.music-logo:hover{
	border: 2px solid #0dfe17;
}

.profile{
	border: 2px solid #0dfe17;
	padding:5px;
}

.char{
  /*float:left;*/
	position:relative;
	width:200px;
	text-align:center;
	margin: 0 auto;

}

/*.char1{
	left:11%;
}
.char2{
	left: 32%
}

.char3{
	right:35%;
}

.char4{
	right:14%;
}*/

.char-title{
	position:absolute;
	left:36%;
	top:1%;
}

.progress{
	background-color: transparent;
	border: 1px solid #0dfe17;
	margin:5% 10%;
}
.progress-bar{
	background-color:#0dfe17;
}

.hp-all{
	margin-top:-12px;
}


.fight-club{
	visibility: hidden;
	border: 2px solid #0dfe17;
	position:relative;
	bottom: 300px;

}
.arena{
	height: 302px;
}

.btn{
	background-color: transparent;
	border: 2px solid #0dfe17;
	font-size: 20pt;
	margin:5px;
	position:absolute;
	left:0;
}

.btn:hover{
	background-color: #0dfe17;
	font-color:transparent;
}

.btn:active{
	text-decoration: none;
}

.reset-btn{
	top: 22%;
  padding: 6px 17px;
}

#result-box{
	position: absolute;
  left: 12%;
  top: 33%;
}

.pit{
	position: absolute;
	float:left
}

#player-stage{
	right:20%;
}

#opponent-stage{
	right:1%;
}

.loss-text{
	width: 49%;
}

.final-text-adjust{
	width: 50%;
	margin: 0 auto;
}

/*Audio*/

/*Attempting to make typing effect*/
/* The typing effect */
